html {
  background: #d7f0fc; /*backup color if gradient fails*/
  background-repeat: no-repeat;
  background-image: linear-gradient(#96cff1, #d7f0fc);
  background-size: cover;
  min-height: -webkit-fill-available;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #808080;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
/*
not using nav currently */
/*
nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

/* editor page styling */

#sandbox-global-nav {
  position: absolute;
  padding: 1%;
}

#sandbox-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */

  position: absolute;
  left: 50%;
  margin-left: -512px;
  width: 1024px;
  top: 50%;
  height: 100vh;
  margin-top: -50vh;
  padding-top: 2%;
}

.description {
  background-color: #323232;
  color: #fff;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffff99;
  padding: 20px;
  padding-top: 10px;
}

.description h3 {
  text-decoration: underline;
  padding-top: 5px;
  margin-top: 0px;
}

.descripton p {
  font-family: Arial, Helvetica, sans-serif;
}

#test-results {
  min-height: 300px;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
}

.editorLeftHalf {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

/* class that the react-ace editor is tied to */
.editorBox {
  flex-basis: 90%;
  max-height: 500px;
  min-height: 500px;
}

.editorTools {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5px;
}

.editorRightHalf {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin-top: 20px;
}

/* .editorStage { */
/* flex-basis: 45%; */
/* display: flex;
  justify-content: center;
  flex-basis: 20%; */
/* text-align: center; */
/* } */

.sandbox-stage {
  margin-left: 5px;
  margin-top: 10px;
  background-color: #96cff1;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffff99;
  padding-left: 20px;
}

.sandbox-stage h3 {
  padding-top: 0;
}

/* sandbox stage progress styles */
.sandbox-progress-bar {
  margin-left: 20px;
}

.sandbox-progress-circle {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #4b4b4b;
  margin: 20px;
}

.sandbox-rat {
  position: absolute;
}

/* user-home navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fff;
  -webkit-text-stroke: 0.5px #323232;
}

.navbar h5 {
  padding-top: 0;
  margin-top: 0;
  color: #323232;
}

#avatar {
  width: 75px;
  height: 75px;
  background-color: #bbdefb;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #323232;
}

#avatar img {
  width: 75px;
  height: 75px;
}

.simple-flex {
  display: flex;
  align-items: center;
}

.simple-flex-problems {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#nav-info {
  padding-left: 20px;
}

/* style for putting board elements in as pure svg in comoponents */
/* user-home - board */
#board-wrapper {
  position: absolute;
  margin-left: 205px;
  max-height: 600px;
}

/*positioning of board and dynamic stage boxes*/
#board-01 {
  /* z-index: 2; */
}

.stage {
  position: relative;
  display: inline-block;
}

#stage-box-01 {
  bottom: 230px;
  left: 25px;
  z-index: 5;
}

#stage-box-02 {
  bottom: 130px;
  left: 510px;
  z-index: 5;
}

#stage-box-03 {
  bottom: 490px;
  left: 70px;
  z-index: 1;
}

/* styles for home-stage dynamic display on user-home - board */
.stage-info {
  color: #fff;
  height: 140px;
  width: 140px;
  padding: 0.5em;
  border-radius: 30px;
  background-color: #646464;
  border-style: solid;
  border-width: 4px;
  border-color: #4b4b4b;
  text-align: center;
}

.stage-info h3 {
  margin-bottom: 0;
  margin-top: 0.25em;
  padding-bottom: 0;
  font-size: 1em;
}

.stage-info h1 {
  margin: 0;
  margin-top: 0.25em;
  padding: 0;
  font-size: 2em;
}

.stage-info p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0.5em;
}

.stage-info .flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.stage-info h2 button {
  margin: 0;
  padding-top: 0;
}

/* #current{
  color: #ffff99;
} */

#complete {
  color: #ffff99;
}

#locked {
  color: rgb(165, 165, 165);
}

/* rat styles */
.character {
  background: url(/images/rat_final_v003_1800.png);
  width: 99px;
  height: 113px;
}

#rat-board-state {
  position: absolute;
  /* opacity: 0; */
  /* left: 100px;
  top: 245px; */
  z-index: 3;
}

#scientist-group {
  z-index: 4;
}

/* style for login page */
#login-wapper {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#login-box {
  margin-top: 25vh;
  background-color: #fff;
  border-radius: 15px;
  min-height: 300px;
  min-width: 300px;
}

#login-box form {
  margin-top: 30px;
}

#login-box #flex-for-login-box {
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#login-box .links {
  padding-left: 20px;
  padding-right: 20px;
}

#links-container {
  margin-top: 30px;
}

#error-space {
  margin-top: 10px;
  min-height: 25px;
  min-width: 200px;
  color: red;
}

#adminCenter {
  text-align: center;
}

#userWrapper {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/27/23/11/background-2687925_1280.jpg');
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #; */
  max-width: 200px;
  margin: 20px;
  padding: 30px;
  border-radius: 40px;
  border: 2px solid grey;
  background-color: #ffe786;
}

.problemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-width: 350px;
  margin: 20px;
  padding: 30px;
  border-radius: 40px;
  border: 2px solid grey;
  background-color: #ffe786;
  color: black;
}
